ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.body_page {
    padding-top: 110px;
	position: relative;
}

#plot {
    padding-top: 50px;
}

.modebar{
    display: none !important;
}

.about-text {
    padding-top: 30px;
	text-align: center;
}

#head_descr {
	color: white;
}


input[type=text] {
  width: 50%;
}

input[type=text_val] {
  width: 150px;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}
